include .zenodo.json
include CITATION.cff
include AKU_STANDARD.md
include LAUNCH_KIT.md
include PUBLICATION_GUIDE.md
include factory.topology.json
recursive-include docs *.md *.gif *.png *.svg
recursive-include editors *.md *.svg
